//= require_self
//= require_tree .

@import './mixins'

*, *:before, *:after {
  box-sizing: border-box
}

body, html {
  height: 100%
  margin: 0
  padding: 0
  overflow: auto
}

body {
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  color: #444
  background: #FFF

  font: 19px/1.5em "proxima-nova","Open Sans","HelveticaNeue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: underline
  color: #4b525b
}

hr {
  border: 0
  height: 2px
  background: #F6F6F6
  max-width: 350px
  margin: 20px 0
}

// Site specific

header.header {
  overflow: hidden
  font-size: 18px
  font-weight: 600
  user-select: none

  a {
    text-decoration: none
  }

  nav {
    height: 58px
    line-height: 58px
    width: 700px
    margin: auto
    padding: 0 30px

    h1.logo {
      margin: 0 25px 0 0
      font-size: 22px
    }

    ul {
      margin: 0 5px
      padding: 0
      overflow: hidden
      list-style: none
      float: left
    }

    li {
      float: left
      padding: 0 40px 0 0
    }

    .right {
      float: right

      li {
        padding: 0 0 0 40px
      }
    }

    .active {
      border-bottom: 2px solid #0997D5
    }
  }
}

article.main {
  padding: 30px
  width: 700px
  margin: 0 auto

  section {
    border-bottom: 2px solid #F6F6F6
    position: relative
    padding: 0 0 35px 0
    margin: 0 0 35px 0

    header {
      margin-bottom: 20px

      h2 {
        font-weight: 600
        font-size: 30px
        margin: 0 0 6px 0
        font-family: "Open Sans", sans-serif

        a {
          text-decoration: none
        }
      }

      h3.author {
        margin: 0
        color: #6A6A6A
        font-weight: normal
        font-style: italic
        font-size: 15px
        display: inline

        a {
          color: #6A6A6A
          text-decoration: none
        }
      }

      time {
        display: inline
        color: #6A6A6A
        font-weight: normal
        font-style: italic
        font-size: 15px
        color: #6A6A6A

        a {
          color: #6A6A6A
          text-decoration: none
        }
      }
    }

    .body {
      hr {
        border: 0
        height: 2px
        background: #F6F6F6
        max-width: 350px
        margin: 30px auto
        border-radius: 5px
      }

      a {
        text-decoration: none
        font-weight: 600
      }

      p {
        margin: 1em 0

        &:last-child {
          margin-bottom: 0
        }
      }

      ul {
        padding: 0 20px
      }

      ul li, ol li {
        margin: 0 0 10.5px 0
      }

      img {
        display: block
        border: 3px solid #F6F6F6
        margin: 1em 0
      }

      pre {
        background: #3F3F3F
        margin: 30px -30px
        padding: 20px 30px
        -webkit-font-smoothing: subpixel-antialiased

        code {
          color: #DCDCDC
          background: none
          padding: 0
          display: block
          overflow: auto
          width: 100%
          font-weight: normal
          font-family: Monaco, serif
          font-size: 12px
          line-height: normal
        }
      }

      .clip {
        border: 3px solid #F6F6F6
        max-width: 640px
        max-height: 310px
        margin: auto
        overflow: hidden
        margin: 20px 0

        img {
          margin: 0
          display: block
          border: none
        }
      }
    }

    &:last-child {
      border-bottom: 0
    }
  }
}